/*@import url("main-dark.css") (prefers-color-scheme: dark);
@import url("main-light.css") (prefers-color-scheme: light);*/
@import url("main-dark.css");

@import url("main-layout.css");
@import url("branding.css");

html,
body {
    background-color: var(--bg-col);
    color: var(--text-col);
}

footer {
    color: var(--light-text-col);
}

.navbar {
    background: linear-gradient(9deg, var(--purple-light) 0%, var(--purple-dark) 100%);
}

.login.card {
    background: var(--bg-col);
    color: var(--text-col);
}

    .login.card form-control {
        background-color: var(--bg-col);
        color: var(--text-col);
    }

.container .modal-header {
    background: linear-gradient(9deg, var(--purple-light) 0%, var(--purple-dark) 100%);
}

.container .modal-content {
    background: var(--bg-col);
}

.login-container {
    background: linear-gradient(9deg, var(--purple-light) 0%, var(--purple-dark) 100%);
}


.list-clean {
    background: var(--clean-icon);
    background-size: cover;
}

#newItemsList {
    background-color: var(--bg-col);
}

#theList li:not(:last-child) {
    border-bottom: 0.07rem solid rgba(var(--green-dark-rgb), 0.65);
}

.form-control {
    --bs-body-bg: var(--form-bg-col);
    --bs-body-color: var(--form-text-col);
    --bs-border-color: var(--purple-light);
}

    .form-control:checked {
        background: var(--light-check), linear-gradient(9deg, var(--purple-light) 0%, var(--purple-dark) 100%);
        border: none;
    }

    .form-control:focus, .form-control:active {
        box-shadow: 0px 0px 0px 3px rgba(var(--purple-light-rgb), 0.4);
        border: 0.07rem solid var(--purple-light);
    }

.form-check-input {
    border: 0.07rem solid var(--purple-light);
    --bs-body-bg: var(--form-bg-col);
}

    .form-check-input:checked {
        background: var(--light-check), linear-gradient(9deg, var(--purple-light) 0%, var(--purple-dark) 100%);
        border: none;
    }

    .form-check-input:focus, .form-check-input:active {
        box-shadow: 0px 0px 0px 3px rgba(var(--purple-light-rgb), 0.4);
        border: 0.07rem solid var(--purple-light);
    }

#newItemsList .btn-link {
    color: var(--green-dark);
}

#createItemButton {
    background: linear-gradient(9deg, var(--green-light) 0%, var(--green-dark) 100%);
    color: var(--bg-col);
}

.btn-primary {
    --bs-btn-color: var(--bg-col);
    --bs-btn-bg: var(--green-dark);
    --bs-btn-border-color: var(--green-dark);
    --bs-btn-hover-color: var(--green-light);
    --bs-btn-hover-bg: var(--green-dark);
    --bs-btn-hover-border-color: var(--green-dark);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: var(--green-light);
    --bs-btn-active-bg: var(--green-dark);
    --bs-btn-active-border-color: var(--green-dark);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.login-container .footer {
    color: #aaa;
}

.login-container .footer a {
    color: #aaa;
}
