@page
@model LoginModel
@{
    Layout = null;
    ViewData["Title"] = "Login";
}
                    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shopping Lister</title>
    <link rel="stylesheet" href="~/lib/bootstrap-5.3.3-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/assets/icons/icon-64.png" sizes="64x64" />
    <link rel="icon" type="image/png" href="~/assets/icons/icon-32.png" sizes="32x32" />
    <link rel="manifest" href="~/manifest.json" />
</head>
<body>

<div class="login-container">
    <div class="d-flex justify-content-center"><div class="login-page">
        <div class="login card">
            <div class="card-header">
                <h3>Login</h3>
            </div>
            <form method="post" action="~/web-api/auth/login">
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(Model.ProblemText))
                    {
                        <div class="alert alert-warning" role="alert">@Model.ProblemText</div>
                    }
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username or Email address</label>
                        <input type="text" class="form-control" name="userOrEmail" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" name="rememberMe" class="form-check-input" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <footer>
            <div class="footer">
                &copy; 2024 - LhDev.ShoppingLister - <a asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    </div></div>
</div>

<script src="~/lib/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>